<!doctype html>


<head><title>Test</title>
    <meta charset=utf-8> </head>
    <body>
        <h1>הכנס נסח</h1>
        <!-- <form action="/my-link/">
            <input type="submit" value="Click me" />
        </form> -->

        <!-- <label for="avatar">Choose a profile picture:</label>
        <input type="file"
        id="avatar" name="avatar"
        accept="pdf">
        <script type="text/javascript"> 
                var selectedFile = document.getElementById('input').files[0];
                var hh = "/user/" + selectedFile;
                //document.getElementById("buttonPress").setAttribute("onclick", "location.href" = hh);
                document.getElementById("buttonPress").href = hh;           

        </script> -->
        
        <form action = "/Start" method = "POST" enctype = "multipart/form-data" action= clear onsubmit="if(document.getElementById('file').value == '') return false;">
        <input type = "file" name = "file" id="file"/>
        <input type = "submit"/>
        </form>  

        <!-- <button form= "POST" id="buttonPress" name= "aa"> aaaaaa</button>
       


        <button> <a href="/pdfextract1/">Click me 73</a></button>
        <button> <a href="/pdfextract2/">Click me 678</a></button> -->

    </body>